.blinking {
    animation-name: blinking;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}

.roleTitle {
    position: absolute;
    top: -40px;
    padding: 25px;
    min-width: 50%;
    right: 0;
    background: linear-gradient(180deg, transparent 0%, white 40%, white 69%, transparent 70%);
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
    left: 0;
    margin: auto;
}

.roleTitle span {
    position: relative;
    top: -5px;
    margin: 0 -7px;
}
@keyframes blinking {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}